@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

a.pending {
  animate: pulse 1s infinite;
}

input {
  @apply focus:outline-none focus:ring-0;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: #fff1f2; /* rose-50 */
  --foreground: #4c0519; /* rose-900 */
  --card: #fff1f2;
  --card-foreground: #4c0519;
  --popover: #fff1f2;
  --popover-foreground: #4c0519;
  --primary: #881337; /* rose-900 */
  --primary-foreground: #fff1f2; /* rose-50 */
  --secondary: #fda4af; /* rose-200 */
  --secondary-foreground: #4c0519;
  --muted: #fda4af;
  --muted-foreground: #7f1d1d;
  --accent: #fda4af;
  --accent-foreground: #4c0519;
  --destructive: #b91c1c;
  --border: #fecdd3;
  --input: #fecdd3;
  --ring: #fb7185;
  --chart-1: #f43f5e;
  --chart-2: #be123c;
  --chart-3: #e11d48;
  --chart-4: #fb7185;
  --chart-5: #fda4af;
  --sidebar: #fff1f2;
  --sidebar-foreground: #4c0519;
  --sidebar-primary: #881337;
  --sidebar-primary-foreground: #fff1f2;
  --sidebar-accent: #fda4af;
  --sidebar-accent-foreground: #4c0519;
  --sidebar-border: #fecdd3;
  --sidebar-ring: #fb7185;
}

.dark {
  --background: #4c0519; /* rose-900 */
  --foreground: #ffe4e6; /* rose-100 */
  --card: #881337;
  --card-foreground: #fff1f2;
  --popover: #881337;
  --popover-foreground: #fff1f2;
  --primary: #fecdd3;
  --primary-foreground: #4c0519;
  --secondary: #fb7185;
  --secondary-foreground: #fff1f2;
  --muted: #fb7185;
  --muted-foreground: #ffe4e6;
  --accent: #fb7185;
  --accent-foreground: #fff1f2;
  --destructive: #f87171;
  --border: #fff1f2;
  --input: #ffe4e6;
  --ring: #fda4af;
  --chart-1: #fb7185;
  --chart-2: #f43f5e;
  --chart-3: #be123c;
  --chart-4: #fda4af;
  --chart-5: #fecdd3;
  --sidebar: #881337;
  --sidebar-foreground: #fff1f2;
  --sidebar-primary: #fb7185;
  --sidebar-primary-foreground: #fff1f2;
  --sidebar-accent: #fb7185;
  --sidebar-accent-foreground: #fff1f2;
  --sidebar-border: #fff1f2;
  --sidebar-ring: #fda4af;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
